.profileBtn {
    background-color: #2866b8;
    color: white;
    border-radius: 3px;
    border: 0;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 4px;
}

.profileBtn:hover {
    background-color: #13263f;
    transition: 0.4s;
}