.profileBtn {
    background-color: #2866b8;
    color: white;
    border-radius: 0.6rem;
    border: 0;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

.profileBtn:hover {
    background-color: #13263f;
    transition: 0.4s;
}